body {
    font-family:"Lucida Console", Monaco, monospace;
    text-align: center;
}

h1 {
    text-align: center;
    margin: auto;
    padding-top: 25px;
}

.header {
    background-color: beige;
    height: 80px;
    width: 100%;
    margin: 0 auto;
}

.container {
    display: flex;
    justify-content: center;
}

.menu {
    flex-basis: 40%;
    padding: 40px 20px;
}

.chart {
    flex-basis: 60%;
    padding: 20px 20px;
    max-width: 600px;
}

.button {
    background-color: lightblue;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    width: 180px;
}

.buttons ul li {
    list-style: none;
}

.button:hover {
    background-color: blue;
}

ul li {
    list-style: none;
    margin: 18px 0 15px 0;
}

.result {
    font-weight: 1000;
    font-size: 20px;
}

#myChart {
    margin: 20px auto;
    max-width: 1200px;
    width: 1000px;
}

#result {
    font-size: 1.1em;
}