* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  font-family: 'Karla';
  margin: 0;
}

body .header {
  padding: 0 110px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1000px) {
  body .header {
    padding: 0 10px;
  }
  body .header ul.show {
    background-color: #2b272f;
    background-image: url(../images/bg-pattern-mobile-nav.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    padding-top: 30px;
    margin: 0;
    top: 50px;
    left: 0;
    width: 100vw;
    height: calc(60vh - 50px);
    z-index: 100;
  }
  body .header ul.show li button {
    width: 150px;
    background-color: transparent;
    color: white;
  }
  body .header button.show .header__open {
    display: none;
  }
  body .header button.show .header__close {
    display: inline;
  }
}

body .header img {
  margin-top: 10px;
}

body .header ul {
  float: right;
  padding: 0;
  margin: 10px 0;
}

body .header ul li {
  list-style: none;
  display: inline;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 0 20px;
  font-size: 1em;
}

body .header__menu__option {
  text-transform: uppercase;
  border: 0;
  font-size: 0.9em;
  font-family: 'Karla';
  padding: 10px 20px;
  background-color: white;
}

body .header__menu__option--plans {
  border: 1.5px black solid;
}

@media (max-width: 1000px) {
  body .header__menu__option--plans {
    border: 1.5px white solid;
  }
}

body .header__menu__option--plans:hover {
  background-color: black;
  color: white;
}

body .header__hamburger {
  display: none;
}

@media (max-width: 1000px) {
  body .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .header ul {
    display: none;
  }
  body .header__hamburger {
    display: inline;
    margin: 0 0 0 auto;
  }
  body .header__close {
    display: none;
  }
}

body .jumbotron {
  color: white;
  background-color: #2d2640;
  padding-right: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1000px) {
  body .jumbotron {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: 0;
  }
}

body .jumbotron__text {
  padding: 50px 110px;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

@media (max-width: 1000px) {
  body .jumbotron__text {
    width: 100%;
    text-align: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 50px 10px;
    background-image: url(../images/bg-pattern-intro-left-mobile.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position-y: 0;
    background-position-x: left;
  }
}

body .jumbotron__text button {
  width: 120px;
  height: 30px;
  color: white;
  background-color: transparent;
  text-transform: uppercase;
  font-family: 'Karla';
  margin-bottom: 50px;
}

@media (max-width: 1000px) {
  body .jumbotron__text button {
    height: 60px;
    width: 150px;
    font-size: 1.1em;
  }
}

body .jumbotron__text button:hover {
  background-color: white;
  color: black;
}

body .jumbotron__text h1 {
  font-size: 4em;
  line-height: 50px;
  font-family: 'DM Serif Display';
  margin: 50px auto;
}

@media (max-width: 1000px) {
  body .jumbotron__text h1 {
    font-size: 3.5em;
  }
}

body .jumbotron__text p {
  font-size: 1.2em;
}

body .jumbotron__image {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  height: 300px;
  margin-top: 50px;
}

body .jumbotron__image img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 1000px) {
  body .jumbotron__image img {
    visibility: hidden;
  }
}

@media (max-width: 1000px) {
  body .jumbotron__image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0;
    width: 100%;
    min-height: 120vw;
    background-image: url(../images/image-intro-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
  }
}

body .jumbotron::before {
  content: '';
  background-image: url(../images/bg-pattern-intro-left-desktop.svg);
  background-repeat: no-repeat;
  background-size: 12%;
  background-position-y: 400px;
  background-position-x: left;
  position: absolute;
  height: 100%;
  width: 100%;
}

@media (max-width: 1000px) {
  body .jumbotron::before {
    background-image: url(../images/bg-pattern-intro-right-mobile.svg);
    background-size: 30%;
    background-position-y: bottom;
    background-position-x: right;
    min-height: 150vh;
    width: 100%;
  }
}

body .jumbotron::after {
  content: '';
  background-image: url(../images/bg-pattern-intro-right-desktop.svg);
  background-repeat: no-repeat;
  background-size: 18%;
  background-position-y: -100;
  background-position-x: right;
  position: absolute;
  height: 100%;
  width: 100%;
}

body .container {
  padding: 10px 110px;
  margin-top: 300px;
}

@media (max-width: 1000px) {
  body .container {
    text-align: center;
    padding: 10px 50px;
    margin-top: 40px;
  }
}

body .container h1 {
  font-size: 3.5em;
  font-family: 'DM Serif Display';
}

body .container__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1000px) {
  body .container__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body .container__flex__perk {
  width: 30%;
}

@media (max-width: 1000px) {
  body .container__flex__perk {
    width: 80%;
    margin: 0 auto;
  }
}

body .container__flex__perk h3 {
  font-size: 1.5em;
  font-family: 'DM Serif Display';
  margin: 25px auto 5px;
}

body .container__flex__perk p {
  font-size: 0.9em;
  color: #353535;
}

body .banner {
  color: white;
  padding: 10px 110px;
  margin-top: 50px;
  min-height: 200px;
}

@media (max-width: 1000px) {
  body .banner {
    padding: 10px 50px;
    margin: 50px auto;
  }
}

body .banner__flex {
  min-height: 150px;
  padding: 20px 110px;
  background-image: url(../images/bg-pattern-how-we-work-desktop.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-color: #2d2640;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1000px) {
  body .banner__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px 50px;
    text-align: center;
  }
}

body .banner__flex h1 {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  font-size: 2em;
  font-family: 'DM Serif Display';
}

@media (max-width: 1000px) {
  body .banner__flex h1 {
    font-size: 3em;
  }
}

body .banner__flex button {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  width: 120px;
  height: 30px;
  background-color: transparent;
  color: white;
  white-space: nowrap;
}

@media (max-width: 1000px) {
  body .banner__flex button {
    margin-bottom: 20px;
  }
}

body .banner__flex button:hover {
  background-color: white;
  color: black;
}

body .footer {
  background-image: url(../images/bg-pattern-footer-desktop.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-color: whitesmoke;
  padding: 30px 110px;
}

@media (max-width: 1000px) {
  body .footer {
    padding: 30px 50px;
  }
}

body .footer__top {
  min-height: 30px;
  padding-bottom: 10px;
  border-bottom: 1px rgba(0, 0, 0, 0.3) solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .footer__top img {
  max-width: 120px;
}

body .footer__top__logo {
  -webkit-transform: scaleY(0.75);
          transform: scaleY(0.75);
}

@media (max-width: 1000px) {
  body .footer__top__logo {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@media (max-width: 1000px) {
  body .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  body .footer__top img {
    margin: 20px auto;
  }
}

body .footer__top ul {
  padding: 0;
  margin: 0;
}

body .footer__top ul li {
  list-style: none;
  display: inline-block;
  margin-left: 15px;
}

@media (max-width: 1000px) {
  body .footer__top ul li {
    margin: 0 10px;
  }
}

body .footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1000px) {
  body .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

body .footer__bottom__category ul {
  padding: 0;
  margin: 0;
}

body .footer__bottom__category ul li {
  list-style: none;
  text-transform: uppercase;
  white-space: nowrap;
}

body .footer__bottom__category__item {
  margin: 10px 0;
}

body .footer__bottom__category__item a {
  color: black;
  text-decoration: none;
}

body .footer__bottom__category__title {
  margin: 40px 0;
  color: grey;
}
/*# sourceMappingURL=main.css.map */