$colors: (
    dark-violet: hsl(256, 26%, 20%),
    grayish-blue: hsl(216, 30%, 68%),
    very-dark-violet: hsl(270, 9%, 17%),
    dark-grayish-violet: hsl(273, 4%, 51%),
    very-light-gray: hsl(0, 0%, 98%)
);

@function color($colorname) {
    @return map-get($colors, $colorname)
};

$side-padding: 110px;

$mobile: 1000px;

@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content;
    }
}

* { 
    box-sizing: border-box;
}

body {
    height:100%;
    width: 100%;
    font-family: 'Karla';
    margin: 0;

    .header {
        padding: 0 $side-padding;
        align-items: center;
        height: auto;
        display: flex;
        justify-content: space-between;

        @include mobile {
            padding: 0 10px;

            ul.show {
                background-color: color(very-dark-violet);
                background-image: url(../images/bg-pattern-mobile-nav.svg);
                background-repeat: no-repeat;
                background-position: bottom right;
                background-size: 100%;
                display: flex;
                flex-direction: column;
                position: fixed;
                padding-top: 30px;
                margin: 0;
                top: 50px;
                left: 0;
                width: 100vw;
                height: calc(6bo0vh - 50px);
                z-index: 100;

                li  button {
                    width: 150px;
                    background-color: transparent;
                    color: white;
                }
            }

            button.show {
                .header__open {
                    display: none;
                }

                .header__close {
                    display: inline;
                }
            }
        }

        img {
            margin-top: 10px;
        }

        ul {
            float: right;
            padding: 0;
            margin: 10px 0;

            li {
                list-style: none;
                display: inline;
                text-transform: uppercase;
                text-align: center;
                margin: 0 0 0 20px;
                font-size: 1em;
            }
        }

        &__menu__option {
            text-transform: uppercase;
            border: 0;
            font-size: 0.9em;
            font-family: 'Karla';
            padding: 10px 20px;
            background-color: white;
            
            &--plans {
                border: 1.5px rgb(0,0,0) solid;

                @include mobile {
                    border: 1.5px white solid;
                }
            }

            &--plans:hover {
                background-color: black;
                color: white;
            }
        }

        &__hamburger {
            display: none;
        }

        @include mobile {
            justify-content: space-between;

            ul {
                display: none;
            }

            &__hamburger {
                display: inline;
                margin: 0 0 0 auto;
            }

            &__close {
                display: none;
            }
        }
    }

    .jumbotron {
        color: white;
        background-color: color(dark-violet);
        padding-right: $side-padding;
        display: flex;
        justify-content: space-between;

        @include mobile {
            flex-direction: column;
            padding-right: 0;
        }
        

        &__text {
            padding: 50px $side-padding;
            flex-basis: 60%;

            @include mobile {
                width: 100%;
                text-align: center;
                order: 2;
                padding: 50px 10px;
                background-image: url(../images/bg-pattern-intro-left-mobile.svg);
                background-size: 50%;
                background-repeat: no-repeat;
                background-position-y: 0;
                background-position-x: left;
            }

            button {
                width: 120px;
                height: 30px;
                color: white;
                background-color: transparent;
                text-transform: uppercase;
                font-family: 'Karla';
                margin-bottom: 50px;

                @include mobile {
                    height: 60px;
                    width: 150px;
                    font-size: 1.1em;
                }
            }

            button:hover {
                background-color: white;
                color: black;
            }
    
            h1 {
                font-size: 4em;
                line-height: 50px;
                font-family: 'DM Serif Display';
                margin: 50px auto;

                @include mobile {
                    font-size: 3.5em;
                }
            }

            p {
                font-size: 1.2em;
            }
        }

        &__image {
            flex-basis: 40%;
            height: 300px;
            margin-top: 50px;

            img {
                max-width: 100%;
                height: auto;


                @include mobile {
                    visibility:hidden;
                }
            }

            @include mobile {
                order:1;
                margin: 0;
                width: 100%;
                min-height: 120vw;
                background-image: url(../images/image-intro-mobile.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: auto 100%;
            }
        }
    }

    .jumbotron::before {
        content: '';
        background-image: url(../images/bg-pattern-intro-left-desktop.svg);
        background-repeat: no-repeat;
        background-size: 12%;
        background-position-y: 400px;
        background-position-x: left;
        position: absolute;
        height: 100%;
        width: 100%;

        @include mobile {
            background-image: url(../images/bg-pattern-intro-right-mobile.svg);
            background-size: 30%;
            background-position-y: bottom;
            background-position-x: right;
            min-height: 150vh;
            width: 100%;
        }
    }

    .jumbotron::after {
        content: '';
        background-image: url(../images/bg-pattern-intro-right-desktop.svg);
        background-repeat: no-repeat;
        background-size: 18%;
        background-position-y: -100;
        background-position-x: right;
        position: absolute;
        height: 100%;
        width: 100%;
    }

    .container {
        padding: 10px $side-padding;
        margin-top: 300px;

        @include mobile {
            text-align: center;
            padding: 10px 50px;
            margin-top: 40px;
        }

        h1 {
            font-size: 3.5em;
            font-family: 'DM Serif Display';
        }

        &__flex{
            display: flex;
            justify-content: space-between;

            @include mobile {
                flex-direction: column;
            }

            &__perk {
                width: 30%;

                @include mobile {
                    width: 80%;
                    margin: 0 auto
                }

                h3 {
                    font-size: 1.5em;
                    font-family: 'DM Serif Display';
                    margin: 25px auto 5px;
                }

                p {
                    font-size: 0.9em;
                    color: rgb(53, 53, 53);
                }
            }
        }
    }

    .banner {
        color: white;
        padding: 10px $side-padding;
        margin-top: 50px;
        min-height: 200px;

        @include mobile {
            padding: 10px 50px;
            margin: 50px auto;
        }


        &__flex {
            min-height: 150px;
            padding: 20px $side-padding;
            background-image: url(../images/bg-pattern-how-we-work-desktop.svg);
            background-repeat: no-repeat;
            background-position: right;
            background-color: color(dark-violet);
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include mobile {
                flex-direction: column;
                padding: 10px 50px;
                text-align: center;
            }

            h1 {
                flex-basis: 40%;
                font-size: 2em;
                font-family: 'DM Serif Display';

                @include mobile {
                    font-size: 3em;
                }
            }

            button {
                flex-basis: 10%;
                width: 120px;
                height: 30px;
                background-color: transparent;
                color: white;
                white-space: nowrap;

                @include mobile {
                    margin-bottom: 20px;
                }
            }

            button:hover {
                background-color: white;
                color: black;
            }
        }
    }

    .footer {
        background-image: url(../images/bg-pattern-footer-desktop.svg);
        background-repeat: no-repeat;
        background-position: left;
        background-color: rgb(245, 245, 245);
        padding: 30px $side-padding;

        @include mobile {
            padding: 30px 50px;
        }

        &__top {
            min-height: 30px;
            padding-bottom: 10px;
            border-bottom: 1px rgba($color: #000000, $alpha: 0.3) solid; 
            display: flex;
            justify-content: space-between;

            img {
                max-width: 120px;
            }

            &__logo {
                transform: scaleY(0.75);

                @include mobile {
                    transform: scaleY(1);
                }
            }

            @include mobile {
                flex-direction: column;
                text-align: center;

                img {
                    margin: 20px auto;
                }
            }

            ul {
                padding: 0;
                margin: 0;

                li {
                    list-style: none;
                    display: inline-block;
                    margin-left: 15px;

                    @include mobile {
                        margin: 0 10px;
                    }
                }
            }
        }

        &__bottom {
            display: flex;
            justify-content: space-between;

            @include mobile {
                flex-direction: column;
                text-align: center;
            }

            &__category {
                ul {
                    padding: 0;
                    margin: 0;

                    li {
                        list-style: none;
                        text-transform: uppercase;
                        white-space: nowrap;
                    }
                }

                &__item {
                    margin: 10px 0;
                    
                    a {
                        color: black;
                        text-decoration: none;
                    }
                }

                &__title {
                    margin: 40px 0;
                    color: grey;

                }
            }
        }
    }
}